@font-face {
	font-family: "Digital7";
	src: url("digital-7.woff2") format("woff2");
}

body{
	margin: 0;
	padding: 0;
}

#hour {
	position: fixed;
	top: 5vh;
	right: 3vw;
	background: rgba(21, 30, 38, 0.65);
	box-shadow: inset 2.57255px -2.57255px 4px rgba(119, 150, 198, 0.3), inset -1.28627px 1.28627px 1.28627px rgba(255, 255, 255, 0.5), inset -2.57255px 2.57255px 2.57255px rgba(157, 157, 157, 0.24);
	border-radius: 7px;
	font-size: 36px;
	font-family: "Digital7";
	letter-spacing: 0.5px;
	padding: 4px 10px 2px;
}

#shadow{
	position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.25);
}

#time{
    position: relative;
    color: #5FE254;
}

#time::before{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	color: rgba(100, 231, 52, 0.46);
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.65);
	filter: blur(4px);
}

#statusHud{
	position: fixed;
	bottom: 5vh;
	right: 3vw;
}

.bar{
	margin-bottom: 4px;
}

.progress{
	position: relative;
	width: 188px;
	height: 22px;
	background: #003D4D;
	box-shadow: inset 0px 4px 4px rgba(3, 6, 14, 0.75);
	border-radius: 24px;
}

.progress img {
	height: 100%;
	position: absolute;
	right: 6px;
	top: 0;
}

.warning{
	animation: warn 1s ease infinite;
}

@keyframes warn {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.progress-bar{
	background: linear-gradient(90deg, #FF9C96 0%, #ACE96F 150%);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.6);
	height: 22px;
	border-radius: 23px;
	position: relative;
	z-index: 1;
	min-width: 13%;
	transition: all .5s ease;
}

#water .progress-bar{
	background: linear-gradient(90deg, #7fc4f5 0%, #0072FF 150%);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 1);
}

.progress-bar::before{
	content: "";
    position: absolute;
    top: -7px;
    left: -14px;
    background: url(img/start_faim.png) center left no-repeat;
    height: 35px;
    z-index: 1;
    width: 100%;
}

#water .progress-bar::before{
    background: url(img/start_water.png) center left no-repeat;
}


.progress-bar::after{
	content: "";
    position: absolute;
    top: -7px;
    left: 10px;
    background: url(img/tranche_faim.png) center center repeat-x;
    height: 35px;
    z-index: 1;
    width: calc(100% - 20px);
}

#water .progress-bar::after{
    background: url(img/tranche_water.png) center center repeat-x;
}

.progress-bar span{
	content: "";
    position: absolute;
    top: -7px;
    right: -14px;
    background: url(img/end_faim.png) center right no-repeat;
    height: 35px;
    z-index: 1;
    width: 100%;
}

#water .progress-bar span{
    background: url(img/end_water.png) center right no-repeat;
}