@font-face {
	font-family: 'Oswald-Regular';
	src: url('../fonts/Oswald-Regular.eot');
	src: url('../fonts/Oswald-Regular.eot#iefix') format('embedded-opentype'),
		url('../fonts/Oswald-Regular.woff') format('woff'),
		url('../fonts/Oswald-Regular.woff2') format('woff2'),
		url('../fonts/Oswald-Regular.ttf') format('truetype'),
		url('../fonts/Oswald-Regular.svg#webfont34M5alKg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-Light';
	src: url('../fonts/Oswald-Light.eot');
	src: url('../fonts/Oswald-Light.eot#iefix') format('embedded-opentype'),
		url('../fonts/Oswald-Light.woff') format('woff'),
		url('../fonts/Oswald-Light.woff2') format('woff2'),
		url('../fonts/Oswald-Light.ttf') format('truetype'),
		url('../fonts/Oswald-Light.svg#webfont34M5alKg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'digital';
	src: url("../fonts/digital.ttf");
}

:root {
	--text-color: rgba(255, 255, 255, 0.95);
	--text-inactive: rgba(193, 193, 193, 0.5);

	--speed-digit-active: #5FE254;
	--speed-digit-inactive: rgba(193, 193, 193, 0.5);

	--gear-normal: rgba(47, 230, 255, 0.86);
	--gear-overload: rgb(255, 0, 0, 0.95);
	--gear-reverse: rgba(255, 255, 255, 0.95);

	--rpm-background: rgba(193, 193, 193, 0.5);
	--rpm-fill: rgba(255, 255, 255, 0.85);
}

.hidden {
	visibility: hidden !important;
	opacity: 0 !important;
}

.inactive {
	color: var(--text-inactive);
}

#displayRoot {
    width: 15%;
    position: fixed;
    bottom: 12vh;
    left: 13%;
    color: var(--text-color);
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
    transform-origin: bottom right;
    transform: scale(0.7);
}

#displayRoot::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 180px;
    top: -128px;
    left: -29px;
    /* box-shadow: inset 0em -5em 142px rgb(0 0 0 / 50%); */
	background: rgba(21, 30, 38, 0.65);
	box-shadow: inset 4.57255px -4.57255px 4px rgba(185, 185, 185, 0.2), inset -3.28627px 3.28627px 3.28627px rgba(255, 255, 255, 0.5), inset -5.57255px 5.57255px 5.57255px rgba(157, 157, 157, 0.24);
    border-radius: 20px;
	z-index: -1;
}

#gearDisplay {
	position: absolute;
	left: 0px;
	bottom: -13px;
	color: var(--gear-normal);
	font-family: 'digital';
	letter-spacing: 2px;
}
#gearDisplay.rpmOverload {
	color: var(--gear-overload);
	border-color: var(--gear-overload);
}
#gearDisplay.reverseGear {
	color: var(--gear-reverse);
}
#gearDisplay.normalRpm {
	color: var(--gear-normal);
}

#speedDisplay {
	position: absolute;
	font-size: 110px;
	bottom: 16px;
	font-weight: 100;
	font-family: 'digital';
	color: var(--speed-digit-active);
}

#speedDisplay > span.blurSpeed{
	filter: blur(8px);
	text-shadow: 0px 0px 0px rgba(59, 170, 78, 0.93);
}

#speedDisplay>span {
	position: absolute;
	bottom: 0px;
}
#speedDisplay>span:nth-child(1) {
	left: 0;
}
#speedDisplay>span:nth-child(2) {
	left: 55px;
}
#speedDisplay>span:nth-child(3) {
	left: 110px;
}

#speedDisplay>span:nth-child(4) {
	left: 0;
}
#speedDisplay>span:nth-child(5) {
	left: 55px;
}
#speedDisplay>span:nth-child(6) {
	left: 110px;
}
/* This turns empty speed segments into grey 0's automatically */

#speedDisplay>span:empty {
	filter: none;
	text-shadow: none;
}
#speedDisplay>span:empty::after {
	color: transparent;
	content: "0";
}

#speedDisplay>span::before {
	color: rgba(0, 0, 0, 0.34 );
	content: "8";
	position: absolute;
}

#speedDisplay>span.blurSpeed:empty::after {
	/* display: none; */
}

#speedDisplay>span.blurSpeed::before {
	display: none;
}

#unitDisplay {
	position: absolute;
	left: 125px;
	bottom: -13px;
	font-family: 'digital';
}

#absContainer {
	position: absolute;
	left: 190px;
	bottom: 41px;
	font-family: 'digital';
	color: #E61717;
}

#hBrakeContainer {
	position: absolute;
	left: 190px;
	bottom: 70px;
	font-family: 'digital';
	color: #E61717;
}

#gazoilContainer{
	position: absolute;
	left: 160px;
	bottom: -13px;
	font-family: 'digital';
}

#gazoilContainer::after{
	content: "";
	background: url(../gazoil.png) center center no-repeat;
	background-size: 50px;
	width: 20px;
	height: 22px;
	display: block;
	position: absolute;
	top: 5px;
	right: -30px;
}

#absContainer.blur .inactive,
#hBrakeContainer.blur .inactive{
	display: none;
}

#absContainer.blur,
#hBrakeContainer.blur{
	display: block;
	color: #E61717;
	mix-blend-mode: hard-light;
	border: 3.91098px solid rgba(255, 0, 0, 0.33);
	filter: blur(9px);
}

#rpmBarBg {
	width: 240px;
	height: 4px;
	background: var(--rpm-background);
	position: absolute;
	bottom: -30px;
	background: rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.75);
	border-radius: 20px;
}

#rpmBar {
	width: 0%;
	height: 100%;
	background: #C1C1C1;
	box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	position: relative;
	z-index: 1;
}

#gasoilBarBg {
	height: 100px;
	width: 4px;
	background: var(--rpm-background);
	position: absolute;
	bottom: 0px;
	right: 13%;
	transform: rotate(180deg);
}