
body{
    display: none;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    height: 100vh;
}

#main_container{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#armor{
    margin-left: 5vw;
}

.item{
    padding: 10px;
    border-radius: 1vh;
    background: rgba(0,0,0,.5);
    margin: 0 0.4vw;
}

.item img{
    max-width: 100%;
}

.btn{
    height: 32px;
    line-height: 30px;
    background: rgb(82, 8, 8);
    color: white;
    border-radius: 0.5vh;
    padding: 0 10px;
    font-weight: bold;
}