html, body{
    background-color:transparent!important;
    width:100%;
    height:100%;
    user-select: none;

    -webkit-font-smoothing: antialiased;
}
#largeGarage{
    width:50%;
    display:none;
}
#largeGarage > .jumbotron {
    /* background-color:rgba(0,0,0,0.5)!important; */
}
#manuf_image{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);   
    height:100%;                                         
}
#manuf_image > img {
    height:100%;
}
#impoundSelection{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    max-width:25%; 
    max-height:70%;
    overflow-y: auto;
    display:none;
}
#smallGarage{
    position:absolute;
    top:50.5%;
    left:50.5%;
    -webkit-transform: translateX(-50%) translateY(calc(-50% - .1px));
    transform: translateX(-50%) translateY(calc(-50% - .1px));
    max-width:25%;
    max-height:80%;
    overflow-y: hidden;
    display:none;
}
#impoundGarage{
    position:absolute;
    top:50.5%;
    left:50.5%;
    -webkit-transform: translateX(-50%) translateY(calc(-50% - .1px));
    transform: translateX(-50%) translateY(calc(-50% - .1px));
    max-width:25%;
    max-height:80%;
    overflow-y: hidden;
    display:none;
}

/* .smallGarageItem:hover, .impoundItem:hover, .garageSelectionItem:hover{
    background-color:#2e3338!important;
} */
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 12px;
    background-color: #F5F5F5;
    border-radius:2px;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #999;
}
.messageContainer{
    display:none;
}
.modalLoading{
    display:none;
}
.card-header{
    background-color:rgba(0,0,0,0);
}
#impoundSelectionContainer{
    display:none;
}
.flashdanger {
    background:linear-gradient(45deg, #343a40, 70%,#dc3545);
    background-size:200% 200%;
    border:0;
    animation: flashdanger 1s ease infinite;

}
@keyframes flashdanger {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#header{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}
#bigAlert{
    display:none;
}
#garageAlert{
    display:none;
    background-color: #3d3d3dff;
    border-radius: .25rem;

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#carModel,#carName, .impoundItem, .smallGarageItem{
    text-transform: capitalize;
} 
#impoundCivNotification{
    display:none;
}